application/config/config_sisem.php
application/config/config_sisem_licencia.php
assets/img/Cliente/*
!assets/img/Cliente/readme.md
assets/img/Empleado/*
!assets/img/Empleado/readme.md
assets/img/Empresa/*
!assets/img/Empresa/readme.md
assets/img/Logotipo/*
!assets/img/Logotipo/readme.md
assets/img/Mercaderia/*
!assets/img/Mercaderia/readme.md
assets/img/Proveedor/*
!assets/img/Proveedor/readme.md
assets/img/Servicio/*
assets/reportes/*
assets/reportes/venta/*
!assets/reportes/venta/readme.md
!assets/reportes/readme.md
assets/data/activofijo/*
!assets/data/activofijo/readme.md
assets/data/cliente/*
!assets/data/cliente/readme.md
assets/data/costoagregado/*
!assets/data/costoagregado/readme.md
assets/data/empleado/*
!assets/data/empleado/readme.md
assets/data/familia/*
!assets/data/familia/readme.md
assets/data/gasto/*
!assets/data/gasto/readme.md
assets/data/menu/*
!assets/data/menu/readme.md
!assets/data/menu/demo.json
!assets/data/menu/tplmenu.json
assets/data/mercaderia/*
!assets/data/mercaderia/readme.md
assets/data/otraventa/*
!assets/data/otraventa/readme.md
assets/data/proveedor/*
!assets/data/proveedor/readme.md
assets/data/servicio/*
!assets/data/servicio/readme.md
!assets/data/facturacionelectronica/*
assets/data/facturacionelectronica/cdr/*
!assets/data/facturacionelectronica/cdr/readme.md
assets/data/facturacionelectronica/certifi/*
!assets/data/facturacionelectronica/certifi/*.jks
!assets/data/facturacionelectronica/certifi/readme.md
assets/data/facturacionelectronica/error/*
!assets/data/facturacionelectronica/error/readme.md
assets/data/facturacionelectronica/ftp/*
!assets/data/facturacionelectronica/ftp/readme.md
!assets/data/facturacionelectronica/templates/*
assets/data/facturacionelectronica/xml/*
!assets/data/facturacionelectronica/xml/readme.md
assets/data/productos/*
!assets/data/productos/readme.md
assets/data/mercaderia/mercaderias.json
assets/data/otraventa/otrasventas.json
assets/data/servicio/servicios.json
